.footer__copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0;
  width: calc(100% - 430px);
  text-align: end;
}

@media screen and (max-width: 748px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    text-align: start;
  }
}