.cover {
  width: calc(100% - 96px);
  position: relative;
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    margin-top: 90px;
}
}

@media screen and (max-width: 4500px) {
  .cover {
    margin-top: 66px;
  }
  }